certifi
chardet==3.0.4
cycler
decorator
future==0.17.1
gym==0.10.5
idna==2.8
ipython
ipython-genutils
jedi==0.15.1
kiwisolver
lief==0.10.1
matplotlib
numpy
parso==0.5.1
pexpect
pickleshare==0.7.5
Pillow
prompt-toolkit
ptyprocess==0.6.0
pyglet==1.4.2
pyfiglet
Pygments
pyparsing
python-dateutil
requests
scikit-learn
scipy
simplegeneric==0.8.1
six
tensorflow
theano==0.9.0
chainer==2.0.1
chainerrl==0.2.0
pefile
traitlets
urllib3==1.25.3
wcwidth
tqdm
torch
typing
tensorboardX
rich
